<div class="container">
  <h1>Create a New Blog Post</h1><br>
  <form id="create_post" action="/create_post" method="POST">
    <label for="title">Post Title:</label>
    <input id="title" type="text" name="post[title]"><br>
    <label for="body">Post Body:</label>
    <textarea id="body" name="post[body]"></textarea><br>
    <label for="tags">Tags:</label>
    <input id="tags" type="text" name="tag[names]"><br>
    <input type="submit" value="Post!"><br>
  </form>
  <a href="/"><input type="button" value="Cancel"></a>

</div>

<a href='/posts'>Return to Posts</a><br>
<a href='/'>Return Home</a>