<div class="container">
  <h1>BlogSpace</h1>
  <p>
    <a href="/posts">See all posts</a><br>
    <a href="/create_post"> Create new post</a>
  </p>
  <p>
    <a href="/tags">See all tags</a>
  </p>
  <form ></form>
</div>
