<div class="container">
  <h1>BlogSpace</h1>

  <ul>
    <li id="all_posts"><a href="/posts">See all posts</a></li>
    <li id="create_post"><a href="/create_post"> Create a new blog post</a></li>
  <form ></form>
</div>
